.dashboard {
    padding: 2rem;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 10px;

}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 55px;

}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: #f47c20;
    border-radius: 5px;
}