/* ====== About Section ====== */
.about {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about h2 {
    color: #f47c20;
    margin-bottom: 15px;
    font-size: 40px;
}

.about p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* ====== Welcome Section (Homepage) ====== */
.welcome {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome h2 {
    color: #f47c20;
    font-size: 40px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 19px;
    line-height: 1.6;
}

/* ====== Events Section ====== */
.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.event-card {
    background: white;
    border: 2px solid #f47c20;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    color: #f47c20;
    margin-bottom: 10px;
}

.event-card .btn {
    display: inline-block;
    margin-top: 10px;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.event-card .btn:hover {
    background-color: #ff9d3f;
}

.event-image {
    display: grid;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.event-image img {
    max-width: 100%;
    height: 500px;
    padding-bottom: 20px;
}

.event-heading {
    text-align: center;
    padding: 20px;
}

.event-heading h1 {
    color: chartreuse;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 15px 25px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}
/* ====== Special Styling for Next Event ====== */
.next-event-card {
    border: 2px solid #00ff00 !important; /* Green border */
}

/* ====== Rules Section ====== */
.rules-container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.rules-section h2 {
    color: #f47c20;
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #f47c20;
    padding-bottom: 5px;
}

.rules-section p,
.rules-section ul li {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
}

.rules-section p, li:last-child {
    margin-bottom: 10px;
}

.warning {
    color: #d9534f;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

/* ====== Intro Section-Home Page ====== */
.introduction {
    margin-bottom: 20px;
}

.introduction p {
    line-height: 1.4;
}

.no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}