/* ====================================== General Reset ====================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif !important;
    background-color: #f4f4f4;
    color: #333;
    border: #f47c20 solid 2px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ====================================== Navigation ====================================== */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 10px;

}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;

}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #f47c20;
    border-radius: 5px;
}

/* ====================================== Scroll Bar Always Visible ====================================== */
html {
    overflow-y: scroll;
}